<section class="about__page">
    <h2 class="title">Rick and Morty GraphQl APP</h2>
    <div class="about__container">
            <p class="about__paragraph">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam illum animi numquam mollitia, omnis dolore enim iure corrupti ipsa totam nulla quasi atque aliquam odio alias? Sit at nulla ex.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ducimus corrupti et at, veritatis illo suscipit nesciunt nostrum asperiores iste autem amet hic, porro, maiores in distinctio quas sapiente assumenda.
            </p>
            <figure class="about__img">
                <img src="/assets/imgs/web_dev.svg" alt="web-deev" class="about__picture" rel="preload" as="image" width="406" height="306">
            </figure>
        </div>

<p class="about__copy">
    Developed by <span class="text-white">DavidHernandezn</span>
</p>
</section>